<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body class="register-body">
    <form class="register-form" method="post" action="/">
        <div>
            <input class="register-placeholder" type="text" placeholder="Nombre y Apellido" name="fullName"
                id="fullName" minlength="7">
        </div>
        <div>
            <input class="register-placeholder" type="text" placeholder="Nombre de usuario" name="fullName"
                id="userName" minlength="5">
        </div>
        <div>
            <label class="register-label" for="birthDate">Fecha de nacimiento</label><br>
            <input class="register-placeholder" type="date" name="birthDate" id="birthDate">
        </div>
        <div>
            <input class="register-placeholder" type="text" placeholder="Domicilio" name="fullName" id="userName"
                minlength="7">
        </div>
        <div>
            <p class="register-label">Elija tipo de usuario</p>
            <div class="register-label-options">
                <label><input type="radio" name="userType" value="buyer"> Comprador</label>
                <label><input type="radio" name="userType" value="seller"> Vendedor</label>
            </div>
        </div>
        <div>
            <p class="register-label">Elija categorías de interés</p>
            <div class="register-label-options"><label><input type="checkbox" name="categories" value="electro">
                    Electro</label>
            </div><br>
            <div class="register-label-options"><label><input type="checkbox" name="categories" value="moda">
                    Moda</label>
            </div><br>
            <div class="register-label-options"><label><input type="checkbox" name="categories" value="hogar">
                    Hogar</label></div><br>
            <div class="register-label-options"><label><input type="checkbox" name="categories" value="jugueteria">
                    Jugutería</label></div><br>
            <div class="register-label-options"><label><input type="checkbox" name="categories" value="vidaSana"> Vida
                    Sana</label></div><br>
        </div>
        <div>
            <p class="register-label">Foto de usuario</p><br>
            <div class="register-label-options">
                <input type="file" accept=".jpg, .png, .jpeg" name="profilePhoto" id="profilePhoto">
            </div>
        </div>
        <div>
            <input class="register-placeholder" type="password" placeholder="Contraseña" name="password" id="password"
                minlength="8">
        </div>
        <div>
            <input class="register-placeholder" type="password" placeholder="Confirmar contraseña"
                name="confirmPassword" id="confirmPassword" minlength="8">
        </div>
        <div>
            <button class="register-button" type="submit"> Enviar </button>
            <button class="register-button" type="reset"> Limpiar formulario </button>
        </div>
    </form>
</body>

</html>